<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>slanted menu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

</head>

<body>

  <div class="container-fluid left">
      <p class="Baslik"> EN SON YÜKLENEN İÇERİKLER </p>
  </div>

  <div class="container">

    <div class="navigation-wrapper">
      <div class="navigation-button">
     <i class="fa fa-bars"></i>
      </div>


      <div id="nav1" class="navigation-menu">

        <ul>
           <li><a href="#">VİDEO</a></li>
           <li><a href="#">PODCAST</a></li>
           <li><a href="#">BLOG</a></li>
           <li><a href="#">KİMSİN SEN?</a></li>
         </ul>
      </div>
    </div>


    <div class="box">
      <section class="hero">
        <h3 class="story"> Bazı Cengoların bir takım hikayeleri...<br> </h3></br>
        <h1><span> CENGO CENGO</span></h1>
        <div class="button">
          <a href="" class="btn1">Kimim ben?</a>
          <a href="" class="btn2">Takip Et!</a>
        </div>
      </section>
    </div>

  </div>



  <script type="text/javascript">
  var navButton = document.querySelector('.navigation-button');
  var navMenu = document.querySelector('.navigation-menu');
  var win = window;
  var logo = document.querySelector('.box');

  function openMenu(event) {

    navButton.classList.toggle('active');
    navMenu.classList.toggle('active');


    logo.style.margin = "20%";
    event.preventDefault();
    event.stopImmediatePropagation();

  }

  function closeMenu(event) {
    if (navButton.classList.contains('active')) {
      navButton.classList.remove('active');
      navMenu.classList.remove('active');
      logo.style.margin = "";
    }

  }
  navButton.addEventListener('click', openMenu, true);

  win.addEventListener('click', closeMenu, true);
</script>

</body>

</html>
