<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>slanted menu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/blog-cards.scss">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

</head>
<section class="video-block">
	<div class="container">
		<div class="row">
			<div class="video-tab clearfix">
				<h2 class="video-tab-title">Video Gallery with bootstrap tab</h2>
				<div class="col-md-7 pr-0">
					<div class="tab-content">
						<div class="tab-pane active fade in" id="videoTab01">
							<a class="play-icon" data-video="https://www.youtube.com/embed/BD5ul7MLvds?autoplay=1">
								<img class="play-button" src="https://user-images.githubusercontent.com/16266381/60864229-d403b780-a244-11e9-909a-a8a01b6e1d50.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60862959-057a8400-a241-11e9-9e09-e50f827e4881.jpg" alt="post-thumbnail"/>
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab02">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/pRbhveLaQ9c?autoplay=1">
								<img class="play-button" src="https://user-images.githubusercontent.com/16266381/60864229-d403b780-a244-11e9-909a-a8a01b6e1d50.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60864371-3957a880-a245-11e9-92ac-61673c2f0204.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab03">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/FpnqHvmJU4U?autoplay=1">
								<img class="play-button" src="https://user-images.githubusercontent.com/16266381/60864229-d403b780-a244-11e9-909a-a8a01b6e1d50.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60864450-791e9000-a245-11e9-97d3-ab6b33841df7.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab04">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/YLZuvTBmmwo?autoplay=1">
								<img class="play-button" src="https://user-images.githubusercontent.com/16266381/60864229-d403b780-a244-11e9-909a-a8a01b6e1d50.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60864540-b1be6980-a245-11e9-933c-f7782a29b4b7.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab05">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/_HTXMhKWqnA?autoplay=1">
								<img class="play-button" src="https://user-images.githubusercontent.com/16266381/60864229-d403b780-a244-11e9-909a-a8a01b6e1d50.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60865619-3611ec00-a248-11e9-8ddf-5d8c458072d7.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
						<div class="tab-pane fade" id="videoTab06">
							<a class="play-icon" href="javascript:void(0)" data-video="https://www.youtube.com/embed/9O5PhuW927w?autoplay=1">
								<img class="play-button" src="https://user-images.githubusercontent.com/16266381/60864229-d403b780-a244-11e9-909a-a8a01b6e1d50.png" alt="play-button">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60865766-8721e000-a248-11e9-97d6-fad5269c29ff.jpg" alt="post-thumbnail" />
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-5 pl-0">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#videoTab01" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60862959-057a8400-a241-11e9-9e09-e50f827e4881.jpg" alt="post-thumbnail"/>
								</div>
								<h3>12 Dangerous Side Effects of Working Out</h3>
							</a>
						</li>
						<li>
							<a href="#videoTab02" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60864371-3957a880-a245-11e9-92ac-61673c2f0204.jpg" alt="post-thumbnail"/>
								</div>
								<h3>7 Food Combinations That Can Ruin Your Health</h3>
							</a>
						</li>
						<li>
							<a href="#videoTab03" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60864450-791e9000-a245-11e9-97d3-ab6b33841df7.jpg" alt="post-thumbnail"/>
								</div>
								<h3>8 Hairstyles That Show a Man’s True Character</h3>
							</a>
						</li>
						<li>
							<a href="#videoTab04" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60864540-b1be6980-a245-11e9-933c-f7782a29b4b7.jpg" alt="post-thumbnail" />
								</div>
								<h3>9 Signs You're Eating Too Much Salt</h3>
							</a>
						</li>
						<li>
							<a href="#videoTab05" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60865619-3611ec00-a248-11e9-8ddf-5d8c458072d7.jpg" alt="post-thumbnail" />
								</div>
								<h3>iPhone X Impressions & Hands On!</h3>
							</a>
						</li>
						<li>
							<a href="#videoTab06" data-toggle="tab">
								<div class="post-thumbnail">
									<img class="img-responsive" src="https://user-images.githubusercontent.com/16266381/60865766-8721e000-a248-11e9-97d6-fad5269c29ff.jpg" alt="post-thumbnail" />
								</div>
								<h3>Driving a Tesla Model 3! [Auto Focus Ep. 1]</h3>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<script type="text/javascript" src="js/style.js"></script>
<script type="text/javascript" src="js/blog.js"></script>

</body>

</html>
