<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>slanted menu</title>
  <link rel="stylesheet" href="css/blog-cards.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.cdc.gov/TemplatePackage/4.0/assets/vendor/css/bootstrap.css">
  <link rel="stylesheet" href="https://www.cdc.gov/TemplatePackage/4.0/assets/css/app.min.css">
  <script src="https://www.cdc.gov/TemplatePackage/4.0/assets/vendor/js/jquery.min.js"></script>
  <script src="https://www.cdc.gov/TemplatePackage/4.0/assets/vendor/js/bootstrap.bundle.min.js"></script>
  <script src="https://www.cdc.gov/TemplatePackage/4.0/assets/js/app.bundle.min.js"></script>
 

</head>

<body>
  <div class="container d-flex flex-wrap body-wrapper mx-auto">
    <main aria-label="Main Content Area" class="col-12 order-lg-2" role="main">
      <div class="row">
        <div class="col-12">
          <div class="">
            <div>
              <h4>Listen to why people just like you are testing for HIV and why you should be <em>Doing It,</em> too. You can also <a href="https://www.cdc.gov/actagainstaids/campaigns/doingit/getmaterials/videos.html">watch our PSAs</a>.</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3 video-container with-audio">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe allowfullscreen="allowfullscreen" src="//www.youtube-nocookie.com/embed/-Sb_-r7muiw?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" title="Adults: Do You Know What Vaccines You Need?"></iframe> <noscript>
              <div class="noscript">
                <a href="https://youtu.be/dkLpo4shS6c" target="_blank">Adults: Do You Know What Vaccines You Need?</a>
              </div></noscript>
            </div>
            <div class="video-links mt-3">
              <div class="small video-transcript"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
  
        
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---shilo-fernandez_1160106.mp4" data-audio-desc="" data-transcript="" href="https://youtu.be/dkLpo4shS6c" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Doing It - Shilo Fernandez video thumbnail" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/shilo-fernandez.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---daniel-franzese_1160043.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/cEI-EqBTLO4?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Daniel F video thumbnail" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/daniel-f.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/adam-shankman-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/Co9lUrRDQkU?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Producer and Choreographer Adam Shankman tells us about why he&acirc;&euro;&trade;s #DoingIt, and the importance of HIV testing." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/adam-shankman.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jaime-pressly-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/rQUKsXAohqY?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Jaime Pressly video thumbnail" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jaime-pressly.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/brent-wilkes-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/GdaguULp4FI?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Brent Wilkes video thumbnail" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/brent-wilkes.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/joel-simkhai-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/7DFwT-0tAhQ?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Joel Simkhai video thumbnail" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/joel-simkhai.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>					
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---paolo-veloso_1153771.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/viO_7VljBrA?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Paolo tells us about why he's #DoingIt, and the importance of HIV testing." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/paolo.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---jaime-gomez_1153766.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/ojymjMynE84?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Actor Jaime Gomez tells us about why he&acirc;&euro;&trade;s #DoingIt, and the importance of HIV testing." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jaime-gomez.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---jerome-ro-brooks_1152656.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/wJ8Kh3uZi5o?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Actor Jerome Brooks tells us about why he's #DoingIt, and the importance of HIV testing." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jerome-ro-brooks.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---obba-babatunde-and-anna-marie-horsford_1151944.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/KB5xemzYGI8?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Actors Obba Babatunde and Anna Marie Horsford tell us about why they&acirc;&euro;&trade;re #DoingIt and the importance of HIV testing." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/obba-anna.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="http://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jimmy-jean-louis-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/UR0t7fZGBAg?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Actor Jimmy Jean Louis tells us about why he's #DoingIt and the importance of HIV testing." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jimmy-jean-louis.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---nathan-hale-williams_1151943.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/iMzum99WHIQ?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Television Producer Nathan Hale Williams tells us about why he&acirc;&euro;&trade;s #DoingIt, and the importance of HIV testing." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/nathan-hale-williams.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---michelle-shawn_1149694.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/xhA8yW_lD4k?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Michelle and Shawn talk about the importance of HIV testing in the Native American community. Michelle and Shawn tell us about why they&acirc;&euro;&trade;re #DoingIt." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/michelle-shawn.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---sterling-steelo-brim_1149707.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/o79ytRjMiVM?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img about="" alt="Sterling " src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/steelo-brim.png" class="card-img-top img-fluid p-0"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---russel-roybal_1149701.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/GPJmXLdypW4?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Russell Roybal, Deputy Executive Director of the National LGBTQ Taskforce tells us about why he&acirc;&euro;&trade;s #DoingIt, and the importance of HIV testing in the Latino community." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/russel-roybalt.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---karyn-brianne-lee_1137603.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/zMORYiW0TCs?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Karyn Brianne Lee, co-founder of the Red Pump Project, tells us about the importance of HIV testing, empowering women, and why she&acirc;&euro;&trade;s #DoingIt." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/karyn-1407x770.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---alonza-_1137595.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/pj73hHjdVxM?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Alonza tells us about the importance of HIV testing in her relationship, and why she is #DoingIt." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/alonza-1409x789.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---rae-lewis-thornton_1137606.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/v-TuoeQ6a_I?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Rae Lewis Thornton has been living with HIV for more than 30 years. She tells us about the importance of HIV testing, empowering women, and why everyone should #DoingIt." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/rae-1380x737.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---tina-lifford_1137618.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/Z56oEDuv334?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Actress Tina Lifford tells us about the importance of HIV testing, and why she&acirc;&euro;&trade;s #DoingIt." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/tina-1401x761.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---chandi-moore_1121235.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/xMrpwOjeoRc?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Chandi Moore tells us about why she&acirc;&euro;&trade;s #DoingIt, and the importance of HIV testing in the Transgender community." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/chandi-moore-1074x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---first-ladies-of-faith_1116443.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/s-wCtQw1jS8?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="First Ladies of Faith, Rinnita Thompson (Southern St. Paul Church) and Mia Whitlock (Christ Our Redeemer), tell us about why they&acirc;&euro;&trade;re #DoingIt, and the importance of HIV testing in the African American and Religious communities..." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/first-ladies-of-faith-1080x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---ybgli_1116447.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/NKmSLGi4eew?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="YBGLI tells us about the importance of HIV testing and why they are #DoingIt." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/ybgli-1111x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---tony-wafford_1116446.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/JoeZI2LtWLI?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Tony Wafford tells us about why he&acirc;&euro;&trade;s #DoingIt, and the importance of HIV testing." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/tony-wafford-1100x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/wcms/videos/low-res/NCHHSTP_DHAP/2016/doing-it---sharon-lettman-hicks_1116444.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/naxSvTxfB_I?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Sharon Lettman Hicks tells us about why she's #DoingIt, and the importance of HIV testing." src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/sharon-lettman-hicks-1076x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/gwen-shawn-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/Ffg47xtcKNA?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Gwen and Shawn" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/gwen-shawn-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/alfredo-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/ODc-DbvjWG8?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Alfredo" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/alfredo-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/marilyn-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/JurbhAZrwUU?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Marilyn" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/marilyn-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/ben-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/EX25hYIEFzs?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Ben" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/ben-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/prada-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/8SYXCVqexFQ?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Prada" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/prada-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/courtney-dashawn-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/439HQXD2PYk?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Courtney" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/courtney-dashawn-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/chareeha-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/64vF9kb9k4k?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Charreah Jackson" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/chareeha-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/shellita-shawn-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/ZDQrYlVaii4?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Shelita and Shawn Coleman" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/shellita-shawn-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/brandon-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/fA5JhItqLPQ?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Brandon Dykes" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/brandon-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/vanea-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/XL4p_UEtmm0?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Venae Gordon" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/vanea-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/andy-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/bxEixE15ERU?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Andy" src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/andy-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jay-ellis-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/MUfdx2wtr88?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Jay Ellis " src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jay-ellis-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <a class="card" data-alt-source="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jay-ellis-lores.mp4" data-audio-desc="" data-transcript="" href="//www.youtube-nocookie.com/embed/MUfdx2wtr88?cc_load_policy=1&amp;wmode=opaque&amp;rel=0" target="youtubeframe_230675d446b9df1173"><img class="card-img-top img-fluid p-0" alt="Jay Ellis " src="https://www.cdc.gov/actagainstaids/videos/campaigns/doingit/jay-ellis-800x600.png"><div class="card-body">Video Details</div><div class="m-1 pr-1 pb-1 pl-1 pin-bottom-right"><span class="cdc-icon-cdc-play"><span class="fs0875">30</span></span></div></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-lg-2 mb-3">
              <iframe width="1116" height="628" src="https://www.youtube.com/embed/dkLpo4shS6c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          
      
      </div>
    </main>
  </div>
  <script type="text/javascript" src="js/blog.js"></script>
</body>

</html>
