<%- include("../partials/signHead") -%>

    <div class="container" style="width: 70%;">

        <h1 style="text-align: center;">Kullanıcı Girişi</h1>
        <br><br>

        <h2 style="text-align: center; color:red;">Sadece adminler için</h2>
        <br><br>
        <form>
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="username">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
            </div>
          </form>
    </div>

    <%- include("../partials/signFooter") -%>
  
